<div class="card">
  <div class="card-header">
    <h4>Add New friend</h4>
  </div>
  <div class="card-body">

</br>
<%= render "form", friend: @friend %>

<br>
</div>
</div>
</br>
<div>
  <%= link_to "Back to friends", friends_path, class: "btn btn-dark" %>
</div>
